
<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<h2>Add Department</h2>

<form method="post" th:action ="@{/saveDepartment}" th:object = "${department}">
    <fieldset>
        <legend>Department</legend>
    <label for="departmentName">Department name:</label><br>
    <input type="text" th:field ="*{departmentName}" class="form-control" id="departmentName" name="departmentName"><br><br>
    <label for="departmentCode">Department code:</label><br>
    <input type="text" th:field ="*{departmentCode}" class="form-control" id="departmentCode" name="departmentCode"><br><br>
    <input type="submit" value="Submit">
        <input type="reset">
    </fieldset>
</form>
</body>
</html>