<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Modules</title>
</head>
<body>
<table method="get" th:action ="@{/modules/display}" th:object = "${module}">
    <tr>
        <th>Module ID</th>
        <th>Module Name</th>
        <th>Module Code</th>
        <th>Course ID</th>
        <th>Staff ID</th>
    </tr>
    <tr th:each="module : ${modules}">
        <td><span th:text="${module.moduleId}"></span></td>
        <td><span th:text="${module.moduleName}"></span></td>
        <td><span th:text="${module.moduleCode}"></span></td>
        <td><span th:text="${module.courseId}"></span></td>
        <td><span th:text="${module.staffId}"></span></td>
    </tr>
</table>
</body>
</html>